[Unit]
Description=MIN relay health check timer (beta)

[Timer]
OnBootSec=3min
OnUnitActiveSec=5min
RandomizedDelaySec=30
AccuracySec=30
Persistent=false

[Install]
WantedBy=timers.target
